@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  /* =========hero-tab============ */
  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F7F7F7;
  }
    .hero-title {
    font-size: 80px;
    margin-top: 40px;
  }
  .hero-btn {
    min-width: 140px;
    height: 40px;
    line-height: 1.7;
    margin-top: 32px;
  }
  /* =========hero-tab/========= */
}
